
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
log/*

# Important. Don't store the uploads in git. That way they won't get deployed to EB
wp-content/uploads/*

db/*
