AddType application/x-httpd-php56 .php .php5


# BEGIN WordPress
<IfModule mod_rewrite.c>

LogLevel mod_rewrite.c:trace8

RewriteEngine On

# This translates the header added by an upstream proxy (eg, a load balancer)
# which terminates SSL. WP expects a variable HTTPS, but the proxy gives us another indicator. We need to map the two.

# First, a condition; then, a rule.

# 1. The condition. If the environment variable HTTP_X_FORWARDED_PROTO has the value https
RewriteCond %{ENV:HTTP_X_FORWARDED_PROTO} https

# 2. The rule. The syntax is:
# RewriteRule Pattern Substitution [flags]
# Pattern .* means "match everything"
# Substitution: - means "no change"
# [E=VAR:VAL] add the variable ENV with the value VAL
RewriteRule .* - [E=HTTPS:on]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress